.rhombus {
  --r: 20px;
  --_g:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_s:calc(100% - (1 - tan(22.5deg))*var(--r));
  
  aspect-ratio: 1;
  margin: calc(tan(22.5deg)*var(--r));
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%) margin-box;
  mask:conic-gradient(#000 0 0) no-repeat 50%/var(--_s) var(--_s), top var(--_g) no-repeat space,left var(--_g) space no-repeat;
  background: #fff;
}

.tag-wrap {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}