@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

.inputStyle {
  -webkit-appearance: none;
  -moz-appearance: none;  
  appearance: none;
  background-color: transparent;
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.inputStyle::-webkit-color-swatch {
  border-radius: 200px;
}